<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>
        
        <div class="row">
          <div class="col-10">
            <h4 style="font-size: 18px;">Listado de Capacitaciones</h4>
          </div>
          <div class="col-2"> 
            <button nbButton status="success" fullWidth (click)="agregarCapacitacion (item)">Agregar</button>
          </div>
        </div>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let item of items">
          <div class="row">
            <div class="col-8">
              {{ item.nombre }}
            </div>
          
            <div class="col-2">
              <button ghost nbButton size="tiny" status="danger" (click)="elimninar (item)">Eliminar</button>
            </div>

            <div class="col-2">
              <button ghost nbButton size="tiny" (click)="editar (item)">Editar</button>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
