<form [formGroup]="form" [nbSpinner]="is_loading" nbSpinnerStatus="primary">
    <div class="row" [nbSpinner]="is_loading" nbSpinnerStatus="primary">
      <div class="col">
        <nb-card>
          <nb-card-header>Detalle del evento</nb-card-header>
          <nb-card-body>
            <label for="imagen" class="label">Imagen:</label>
            <div class="form-group">
              <input type="file" nbInput id="imagen" accept="image/*" (change)="changeListener($event)" />
            </div>  

            <div *ngIf="image != ''">
              <img class="img" [src]="image">
            </div>

            <br>
            
            <div class="form-group" *ngIf="is_loading === true && has_image === true">
              <label for="progress" class="label">Subiendo al servividor...</label>
              <nb-progress-bar [value]="uploadPercent" id="progress"></nb-progress-bar>
            </div>

            <div *ngIf="image != ''">
              <button nbButton status="danger" (click)="elimninarImahge ()">
                Eliminar imagen
              </button>
            </div>

            <div class="form-group">
              <label for="titulo" class="label">Titulo:</label>
              <input type="text" formControlName="titulo" id="titulo" nbInput fullWidth>
            </div>
  
            <div class="form-group">
              <label for="organizador" class="label">Organizador:</label>
              <input type="text" formControlName="organizador" id="organizador" nbInput fullWidth>
            </div>
  
            <div class="form-group">
              <label for="direccion" class="label">Direccion:</label>
              <input type="text" formControlName="direccion" id="direccion" nbInput fullWidth>
            </div>
  
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="provincia" class="label">Provincia:</label>
                  <select class="select-css"
                    formControlName="provincia" 
                    (ngModelChange)="provinciaChanged ($event)"
                    fullWidth 
                    id="provincia"
                    [compareWith]="compareWith">
                    <option *ngFor="let item of provincias" [ngValue]="item">
                      {{ item.nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="distrito" class="label">Distrito:</label>
                  <select class="select-css" fullWidth formControlName="distrito" id="distrito" [compareWith]="compareWith">
                    <option *ngFor="let item of distritos" [ngValue]="item">
                      {{ item.nombre }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="fecha" class="label">Fecha:</label>
                  <input nbInput fullWidth
                    formControlName="fecha"
                    id="fecha"
                    [nbDatepicker]="fecha">
                  <nb-datepicker #fecha></nb-datepicker>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="hora" class="label">Hora:</label>
                  <input type="text" formControlName="hora" id="hora" nbInput fullWidth>
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label for="tipo" class="label">Tipos:</label>
              <select class="select-css" fullWidth formControlName="tipo" id="tipo" [compareWith]="compareWith">
                <option *ngFor="let item of tipos" [ngValue]="item">
                  {{ item.nombre }}
                </option>
              </select>
            </div>
          </nb-card-body>
        </nb-card>
  
        <nb-card>
          <nb-card-header>
            Detalles
          </nb-card-header>
          <nb-card-body>
            <ckeditor [editor]="Editor" [config]="config" formControlName="detalle"></ckeditor>
          </nb-card-body>
        </nb-card>
      
        <div class="row">
          <div class="col-6">
            <button nbButton fullWidth status="danger" (click)="elimninar ()">Eliminar</button>
          </div>
    
          <div class="col-6">
            <button nbButton fullWidth status="primary" [disabled]="!form.valid" (click)="submit ()">Actualizar</button>
          </div>
        </div>
      </div>
    </div>
  </form>