<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>
        Lista de Circuitos
      </nb-card-header>

      <nb-list>
        <nb-list-item *ngFor="let item of items">
          <div class="row">
            <div class="col-8">
              {{ item.nombre }}
            </div>
            
            <div class="col-2">
              <button nbButton size="tiny" fullWidth status="danger" (click)="elimninar (item)">Eliminar</button>
            </div>

            <div class="col-2">
              <button nbButton size="tiny" fullWidth (click)="editar (item)">Ver</button>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
