<div class="row">
  <div class="col-4">
    <nb-card>
      <nb-card-header>
        
      </nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label for="meses" class="label">Mes:</label>
          <nb-select [(ngModel)]="messelected" fullWidth id="meses">
            <nb-option *ngFor="let item of meses" [value]="item">
              {{ item.mes }}
            </nb-option>
          </nb-select>
        </div>
        <div class="row">
          <div class="col">
            <button nbButton fullWidth status="primary" (click)="submit ()">Buscar</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-8">
    <nb-card>
      <nb-card-header>
        Resultado de busqueda
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let item of items">
          <div class="row">
            <div class="col-8">
              {{ item.ref.titulo }}
            </div>
            
            <div class="col-2">
              <button nbButton size="tiny" fullWidth status="danger" (click)="elimninar (item)">Eliminar</button>
            </div>

            <div class="col-2">
              <button nbButton size="tiny" fullWidth (click)="editar (item)">Editar</button>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>