<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-9">
            Funciones
          </div>

          <div class="col-3">
            <button nbButton fullWidth size="tiny" (click)="agregar ()">Agregar</button>
          </div>
        </div>
      </nb-card-header>
    </nb-card>

    <nb-card *ngIf="show_nuevo === true" [nbSpinner]="is_nuevo_loading" nbSpinnerStatus="primary">
      <nb-card-body>
        <form [formGroup]="form">
          <div class="form-group">
            <label for="funcion" class="label">Funcion:</label>
            <input formControlName="funcion" type="text" id="funcion" nbInput fullWidth >
          </div>

          <div class="form-group">
            <label for="descripcion" class="label">Descripcion:</label>
            <textarea formControlName="descripcion" rows="4" nbInput fullWidth shape="rectangle" id="descripcion"></textarea>
          </div>
        </form>
        <div class="row">
          <div class="col-6">

          </div>

          <div class="col-3">
            <button nbButton fullWidth size="small" status="danger" (click)="cancelar_nuevo ()">Cancelar</button>
          </div>

          <div class="col-3">
            <button nbButton fullWidth size="small"  [disabled]="!form.valid" (click)="submit ()">Agregar</button>
          </div>
        </div>      
      </nb-card-body>
    </nb-card>
    
    <nb-card *ngFor="let item of items">
      <nb-card-body>
        <div class="form-group">
          <label for="funcion" class="label">Funcion:</label>
          <input [(ngModel)]="item.funcion" type="text" id="funcion" nbInput fullWidth >
        </div>

        <div class="form-group">
          <label for="descripcion" class="label">Descripcion:</label>
          <textarea [(ngModel)]="item.descripcion" rows="4" nbInput fullWidth shape="rectangle" id="descripcion"></textarea>
        </div>

        <div class="row">
          <div class="col-6">

          </div>

          <div class="col-3">
            <button nbButton fullWidth size="small" status="danger" (click)="eliminar (item)">Eliminar</button>
          </div>

          <div class="col-3">
            <button nbButton fullWidth size="small" [disabled]="item.funcion === '' || item.descripcion === ''" (click)="actualizar (item)">Actualizar</button>
          </div>
        </div> 
      </nb-card-body>
    </nb-card>
  </div>
</div>