<nb-card *ngIf="estado_view=='listado'" [nbSpinner]="is_loading" nbSpinnerStatus="primary">
  <nb-card-header>
    <h1>Procesar Solicitudes</h1>
  </nb-card-header>
  <nb-card-body>
    <table class="table" style="width: 100%;">
      <thead>
        <tr style="font-weight: bold;">
          <td>Solicitante</td>
          <td>Registrado</td>
          <td>Aprobado</td>
          <td>Asunto</td>
          <td>Estado</td>
          <td>Opciones</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of solicitudes | orderBy: 'fecha_solicitud'">
          <td width="20">{{item?.nombre}}</td>
          <td width="20" style="font-size: 0.8rem;">{{formatFecha(item?.fecha_solicitud)}}</td>
          <td width="20" style="font-size: 0.8rem;"><span *ngIf="item?.estado==1">{{formatFecha(item?.fecha_aprobacion)}}</span> <span *ngIf="item?.estado==0">--</span></td>
          <td width="20">{{item?.asunto.nombre}}</td>
          <td width="15">{{item?.estadonombre}}</td>
          <td width="15">
            <button ghost nbButton fullWidth size="tiny" (click)="evaluarSolicitud (item)" *ngIf="item?.estado==0" status="warning">Evaluar ></button>
            <button ghost nbButton fullWidth size="tiny" (click)="entregarSolicitud (item)" *ngIf="item?.estado==1" status="success">Entregar ></button>
            &nbsp;&nbsp;
            <button ghost nbButton fullWidth size="tiny" (click)="detalleSolicitud (item)" status="info" style="margin-top:0.5rem;">Ver Detalle ></button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
<div class="row fondo-evaluar-solicitante" *ngIf="estado_view=='evaluar'">
  <div class="col-12 pb-3">
    <button nbButton ghost size="medium" (click)="cerrarAprobar ()">< Regresar</button>
  </div>
  <div class="col-8">
    <nb-card [nbSpinner]="is_loading" nbSpinnerStatus="primary">
      <nb-card-body>
        <h4>Historial</h4>
        <br>
        <table class="table" style="width: 100%;">
          <thead>
            <tr style="font-weight: bold;">
              <td>Solicitante</td>
              <td>Fecha de registro</td>
              <td>Asunto</td>
              <td>Estado</td>
            </tr>
          </thead>
          <tbody style="font-size: 12px;">
            <tr *ngFor="let item of solicitudes_evaluar">
              <td width="20" *ngIf="idEvaluar!=item?.id">{{item?.nombre}}</td>
              <td width="30" *ngIf="idEvaluar!=item?.id">{{formatFecha(item?.fecha_solicitud)}}</td>
              <td width="25" *ngIf="idEvaluar!=item?.id">{{item?.asunto.nombre}}</td>
              <td width="25" *ngIf="idEvaluar!=item?.id">{{item?.estadonombre}}</td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-4">
    <nb-card [nbSpinner]="is_loading" nbSpinnerStatus="primary">
      <nb-card-header>
        <h4>Datos del beneficiario</h4>
        <br>
        <label>
          <strong>Nombre: </strong>{{solicitud?.nombre}}
        </label><br>
        <label>
          <strong>Número de Documento: </strong>{{solicitud?.id_solicitante}}
        </label><br>
        <label>
          <strong>Tipo: </strong>{{solicitud?.tipo}}
        </label><br>
        <label>
          <strong>Estado: </strong>{{solicitud?.estadonombre}}
        </label><br>
        <label>
          <strong>Asunto: </strong>{{solicitud?.asunto.nombre}}
        </label><br>
        <div *ngIf="mostrar_capacitacion">
          <label>
            <strong>Capacitación: </strong>{{solicitud?.capacitacion.nombre}}
          </label><br>
        </div>
        <label>
          <strong>Descripción: </strong>{{solicitud_detalle?.descripcion}}
        </label>
        <br>
        <br>
        <div class="row"> 
          <div class="col-6">
            <button nbButton size="medium" (click)="changeEstado(1)">Aprobar</button>
          </div>
          <div class="col-6">
            <button nbButton size="medium" status="danger" (click)="changeEstado(3)">Rechazar</button>
          </div>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="estado_view=='entregar'">
  <div class="col">
    <div class="col-12 pb-3">
      <button nbButton ghost size="medium" (click)="cerrarAprobar ()">< Regresar</button>
    </div>
    <nb-card [nbSpinner]="is_loading" nbSpinnerStatus="primary">
      <nb-card-header>
        Entregar Solicitud <br>
        Los campos con (*) son requeridos.
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="form_apro">
            
          <div class="form-group">
            <label for="monto" class="label">Monto: (S/.) *</label>
            <input type="number" formControlName="monto" id="monto" nbInput fullWidth>
          </div>
          <div class="form-group">
            <label for="observacion" class="label">Observación: </label>
            <textarea formControlName="observacion" rows="5" nbInput fullWidth shape="rectangle" id="observacion" placeholder="Ingresar Observación"></textarea>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
    <div class="row">
      <div class="col-6">
        <button nbButton fullWidth status="success" [disabled]="!form_apro.valid" (click)="submitAprobar (idAprobar)">Entregar</button>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="estado_view=='rechazarSolicitud'">
  <div class="col">
    <div class="col-12 pb-3">
      <button nbButton ghost size="medium" (click)="cerrarAprobar ()">< Regresar</button>
    </div>
    <nb-card [nbSpinner]="is_loading" nbSpinnerStatus="primary">
      <nb-card-header>
        Rechazar Solicitud <br>
        Los campos con (*) son requeridos.
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="form_rechazar">
          <div class="form-group">
            <label for="observacion_rechazo" class="label">Observación: *</label>
            <textarea formControlName="observacion_rechazo" rows="5" nbInput fullWidth shape="rectangle" id="observacion_rechazo" placeholder="Ingresar Observación de rechazo"></textarea>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
    <div class="row">
      <div class="col-6">
        <button nbButton fullWidth status="success" [disabled]="!form_rechazar.valid" (click)="submitRechazo ()">Rechazar</button>
      </div>
    </div>
  </div>
</div>