<div class="row">
  <div class="col">
      <div class="row">
        <div class="col-3">
          <button ghost nbButton (click)="regresarListado ()">< Regresar</button>
        </div>
      </div>
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-12">
            <h4 style="font-size: 18px;">Agregar Asunto</h4>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="form">
          <div class="form-group">
            <label for="nombre" class="label">Nombre:</label>
            <input type="text" formControlName="nombre"  id="nombre" nbInput fullWidth>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
    <div class="row">
      <div class="col-6">
        <button nbButton fullWidth status="success" [disabled]="!form.valid" (click)="submit ()">Registrar</button>
      </div>
    </div>
  </div>
</div>