<div class="row">
    <div class="col">
      <nb-card>
        <nb-card-header>
          Entregar Solicitud <br>
          Los campos con (*) son requeridos.
        </nb-card-header>
        <nb-card-body>
          <form [formGroup]="form">
              
            <div class="form-group">
              <label for="monto" class="label">Monto: (S/.) *</label>
              <input type="number" formControlName="monto" id="monto" nbInput fullWidth>
            </div>
            <div class="form-group">
              <label for="observacion" class="label">Observación: </label>
              <textarea formControlName="observacion" rows="5" nbInput fullWidth shape="rectangle" id="observacion" placeholder="Ingresar Observación"></textarea>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
      <div class="row">
        <div class="col-6">
          <button nbButton fullWidth status="danger" (click)="cerrarForm ()">Cerrar</button>
        </div>
        <div class="col-6">
          <button nbButton fullWidth status="primary" [disabled]="!form.valid" (click)="submit ()">Entregar</button>
        </div>
      </div>
    </div>
  </div>